<li>
  <div class="title"><%= task['title'] %></div>
  <div class="description" hidden><%= task['description'] %></div>
  <div class="rank" hidden><%= task['rank'] %></div>
  <div class="id" hidden><%= task['id'] %></div>
  <div class="delete-task"><a href="#" class="fa fa-trash-alt"></a></div>
</li>
