<li class="task-cell">
  <div class="title"><%= task['title'] %></div>
  <div class="description" hidden><%= task['description'] %></div>
  <div class="rank" hidden><%= task['rank'] %></div>
  <div class="id" hidden><%= task['id'] %></div>
  <div class="show-task"><a href=# class="fa fa-eye" data-toggle="modal" data-target="#exampleModalLong"></a></div>
  <div class="delete-task"><a class="fa fa-trash-alt" href="#"></a></div>
</li>
