<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <title>Todo PAD</title>
</head>
<body>
<div class="ui">
  <nav class="navbar app">App bar</nav>
  <nav class="navbar board">Board bar</nav>
  <div class="lists">
    <div class="list">
      <header>To Do</header>
      <ul>
        <% @tasks[:open].each do |task| %>
          <li><%= task['title'] %></li>
        <% end %>
      </ul>
      <footer>Add a card...</footer>
    </div>
    <div class="list">
      <header>In Progress</header>
      <ul>
        <% @tasks[:progress].each do |task| %>
          <li><%= task['title'] %></li>
        <% end %>
      </ul>
      <footer>Add a card...</footer>
    </div>
    <div class="list">
      <header>Done</header>
      <ul>
        <% @tasks[:close].each do |task| %>
          <li><%= task['title'] %></li>
        <% end %>
      </ul>
      <footer>Add a card...</footer>
    </div>
  </div>
</div>
</body>
</html>
